@import url('style.css');
@import url('fonts.css');

:root {
	--bg: #1b1b1b;
	--color: #e6e6e6;
	--highlight: #343434;
	--border: #5959599e;
	--heading: '';
	--body: '';
}

[data-block-id='df3432e2-a99d-4298-955e-6490a38d1a34'] {
	display: none !important;
}

.notion-page-content {
	font-size: 20px !important;
}

