@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

@import url('style.css');
@import url('fonts.css');
/* @import url('color.css'); */
@import url('fade.css');

@font-face {
	font-family: 'Avantt';
	src: url('fonts/AzeretTRIAL-Regular.woff2') format('woff2');
	font-display: swap;
}

:root {
	--bg: #1b1b1b;
	--color: #e6e6e6;
	--highlight: #343434;
	--border: #5959599e;
	--heading: 'Avantt';
	--body: 'Avantt';
}

[data-block-id='df3432e2-a99d-4298-955e-6490a38d1a34'] {
	display: none !important;
}

.notion-page-content {
	font-size: 20px !important;
}

/* .notion-record-icon {
	filter: invert(1);
} */

/* .notion-collection_view-block {
	filter: saturate(0) contrast(1) brightness(1);
} */

