@import url('style.css');

:root {
	--bg: #111;
	--color: #eee;
	--highlight: #444;
	--border: #444;
}

/* body:before {
	content: '';
	display: block;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	will-change: opacity;
	transition: opacity 500ms ease-in-out 1s;
	z-index: 999;
}

body.loaded:before {
	opacity: 0;
	pointer-events: none;
} */
