body.notion-body {
	color: var(--color, var(--default-color)) !important;
	background-color: var(--bg, var(--default-bg)) !important;
}

div.notion-app-inner {
	color: inherit !important;
}

div.notion-app-inner > div,
div.notion-scroller > div,
div.notion-frame {
	background: unset !important;
}

div.notion-selectable.notion-divider-block > div > div {
	border-color: var(--highlight, var(--default-highlight)) !important;
}

div.notion-selectable.notion-page-block.notion-collection-item > a {
	/* border: 1px solid var(--border, var(--default-border)) !important; */
	box-shadow: 0 0 0 1px var(--border, var(--default-border)) !important;
	background-color: var(--highlight, var(--default-highlight)) !important;
}

/*Remove gradient above inline database*/
.notion-selectable.notion-collection_view-block > div:first-child {
	background: unset !important;
}

/*Callout Shadow, Background, Border, Round Corners, Margin -  Desktop & Mobile*/
div.notion-selectable.notion-callout-block {
	background-color: var(--color, var(--default-color)) !important;
	border: 1px solid var(--bg, var(--default-bg)) !important; /*border*/
	box-shadow: 2px 2px 0px 1px var(--bg, var(--default-bg)) !important;
	color: var(--bg, var(--default-bg)) !important;
}
