body:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--bg, var(--default-bg));
	will-change: opacity;
	transition: opacity 500ms ease-in-out;
	pointer-events: none;
	z-index: 99;
}
body.notion-body[data-loaded]:before {
	opacity: 0;
}
