* {
	font-family: unset !important;
}

body,
#notion-app {
	font: var(--body, var(--default-body)) !important;
}

.notion-header-block > div > div,
.notion-sub_header-block > div > div,
.notion-sub_sub_header-block > div > div {
	font: var(--heading, var(--default-heading)) !important;
}

