* {
	font-family: unset !important;
}

body,
#notion-app {
	font-family: var(--body, var(--default-body)) !important;
}

*[placeholder^='Heading'] {
	font-family: var(--heading, var(--default-heading)) !important;
}

