@import url('style.css');
@import url('fonts.css');
/* @import url('color.css'); */
/* @import url('fade.css'); */
/* @import url('dark.css'); */

@font-face {
	font-family: 'Maxi Round Light';
	src: url('fonts/ABCMaxiRound-Light-Trial.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Maxi Round Regular';
	src: url('fonts/ABCMaxiRound-Regular-Trial.woff2') format('woff2');
	font-display: swap;
}

:root {
	--bg: #1b1b1b;
	--color: #e6e6e6;
	--highlight: #343434;
	--border: #5959599e;
	--heading: 'Maxi Round Light';
	--body: 'Maxi Round Regular';
}

[data-block-id='15f99a9b-df7b-43ff-9ff5-aff61b826d39'] {
	display: none !important;
}

.notion-page-content {
	font-size: 20px !important;
}

/* .notion-record-icon {
	filter: invert(1);
} */

