@import url('style.css');
/* @import url('fonts.css'); */
/* @import url('color.css'); */

:root {
	--bg: '';
	--color: '';
	--highlight: '';
	--border: '';
	--heading: '';
	--body: '';
}

[data-block-id='b3d9c002-9360-4428-881e-86de5c022595'] {
	display: none !important;
}

