@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Syne:wght@400;500;600;700&display=swap');
@import url('style.css');
@import url('fonts.css');

:root {
	--bg: #272626;
	--color: #e0e0e0;
	--highlight: #434343;
	--border: transparent;
	--heading: 'Syne';
	--body: 'Open Sans';
}

[data-block-id='de305c69-369d-42c6-9a9b-f0c9cb5f8d14'] {
	display: none;
}

/* .notion-record-icon {
	filter: invert(1);
} */
