@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Syne:wght@400;500;600;700&display=swap');

@import url('style.css');
/* @import url('fonts.css'); */
/* @import url('color.css'); */
/* @import url('fade.css'); */
/* @import url('dark.css'); */

:root {
	--bg: #1b1b1b;
	--color: #e6e6e6;
	--highlight: #343434;
	--border: #5959599e;
	--heading: 'Syne';
	--body: 'Open Sans';
}

[data-block-id='de305c69-369d-42c6-9a9b-f0c9cb5f8d14'] {
	display: none !important;
}

[style~='box-shadow: rgb(233, 233, 231)'] {
	filter: invert(1);
}

.notion-page-content {
	font-size: 20px !important;
}

.notion-record-icon {
	filter: invert(1);
}

