/* https://flatdark.fruitionplus.com/cssstylesarticle */

@import url('style.css');

:root {
	--bg: white;
	--color: black;
}

::selection {
	user-select: none;
}

div.notion-selectable.notion-collection_view-block > div {
	box-shadow: none !important;
}
