/* * {
	font-family: sans-serif !important;
}
[class~='header'] {
	font-family: serif !important;
} */

.notion-page-content {
	/* font-size: 20px !important; */
	padding-bottom: 10rem !important;
}

div.notion-frame {
	height: 100vh !important;
}

::-webkit-scrollbar,
div.notion-topbar,
div.notion-topbar-mobile,
div.notion-selectable.notion-collection_view-block
	> div
	> div.notion-selectable.notion-collection_view-block
	> div
	> div {
	display: none !important;
}

.notion-selectable.notion-collection_view-block > div:first-child:not(:last-child) {
	display: none !important;
}

/*Remove Search Bar - Desktop - Database (Inline & Linked)*/
div.notion-selectable.notion-collection_view-block
	> div
	> div.notion-selectable.notion-collection_view-block
	> div
	> div
	> div:nth-child(1) {
	display: none !important;
}

/*Removes 'Link to original DB (Name)' - Desktop & Mobil - Linked Inline  Database*/
div.notion-selectable.notion-collection_view-block > div > a > div {
	display: none !important;
}

/*Remoeves DB Name - Desktop & Mobile - Inline Database*/
div.notion-selectable.notion-collection_view-block
	> div
	> div.notion-selectable.notion-collection_view-block
	> div
	> div:nth-child(1) {
	display: none !important;
}

/*Removes open as page - Desktop - Database (Inline & Linked)*/
div.notion-selectable.notion-collection_view-block
	> div
	> div.notion-selectable.notion-collection_view-block
	> div
	> div
	> a {
	display: none !important;
}

/*Removes open as page - Mobile - Database (Inline & Linked)*/
div.notion-selectable.notion-collection_view-block
	> div
	> div.notion-selectable.notion-collection_view-block
	> div
	> div
	> div
	> a {
	display: none !important;
}

/*Remove Three-Dot menu - Desktop - Database (Inline & Linked)*/
div.notion-selectable.notion-collection_view-block
	> div
	> div.notion-selectable.notion-collection_view-block
	> div
	> div
	> div:nth-child(3) {
	display: none !important;
}

/*Remove Three-Dot menu - Mobile - Database (Inline & Linked)*/
div.notion-selectable.notion-collection_view-block > div > div > div > div > svg.dots {
	display: none !important;
}

/* Removes Top Border - Database (Inline & Linked)*/
div.notion-selectable.notion-collection_view-block > div > div {
	border-top: none !important;
}
div.notion-selectable.notion-collection_view_page-block
	> div
	> div
	> div.notion-selectable.notion-page-block.notion-collection-item
	> a {
	border-radius: 0 !important; /*3px Round Corners */
	margin-bottom: 0 !important; /*12px*/
	height: 95% !important; /*decreased height for gallery item*/
}

/*Callout Shadow, Background, Border, Round Corners, Margin -  Desktop & Mobile*/
div.notion-selectable.notion-callout-block {
	border-radius: 20px !important; /*Round Corners Callouts (both needed)*/
	margin: 15px 0px 15px 0px !important; /*Margin Main Callouts*/
}

/*Round corner Callout  Desktop & Mobile*/
div.notion-selectable.notion-callout-block > div > div {
	border-radius: 20px !important; /*Round Corners Callouts (both needed)*/
}

::selection {
	user-select: none !important;
}

/* .notion-record-icon.notranslate.notion-focusable {
	display: none !important;
}

.notion-image-block img {
	border-radius: 1rem;
	overflow: hidden;
}

video {
	border-radius: 0.5rem;
} */
@media screen and (max-width: 1200px) {
	.notion-column_list-block > div > div {
		width: 50% !important;
	}
}

@media screen and (max-width: 800px) {
	.notion-column_list-block > div > div {
		width: 100% !important;
	}
}
