@import url('style.css');
/* @import url('fonts.css'); */
/* @import url('color.css'); */

:root {
	--bg: '';
	--color: '';
	--highlight: '';
	--border: '';
	--heading: '';
	--body: '';
}

[data-block-id='c54f4792-791c-49ae-8fe0-240d46808a30'] {
	display: none !important;
}
