@import url('style.css');
/* @import url('color.css');

:root {
	--bg: #111;
	--color: #eee;
	--highlight: #444;
	--border: #444;
} */

[data-block-id='a1a4d048-6c82-44d7-bbfd-dd7f2db296dc'] {
	display: none !important;
}

/* @media (prefers-color-scheme: light) {
	body {
		-webkit-filter: invert(95%) !important;
		filter: invert(95%) !important;
	}
	.vp-preview-cover,
	img,
	figure,
	video,
	::selection,
	*[role='image'] {
		-webkit-filter: invert(100%) !important;
		filter: invert(100%) !important;
	}
	.notion-record-icon {
		filter: unset !important;
	}
}
 */

