.notion-page-content {
	font-size: 20px !important;
}

.notion-image-block img {
	border-radius: 1rem;
	overflow: hidden;
}

@media (prefers-color-scheme: dark) {
	body,
	img,
	figure,
	video,
	*[role='image'] {
		filter: invert(100%) !important;
	}
}
